<div class="blog-header-view">
	<div class="blog-header">
		<h1>BLOGS</h1>
	</div>
	
	<div class="blog-options">
		<div class="blog-search-box">
           	<input id="s" class="search-field" type="text" placeholder="What are you looking for">
           	<button type="button" class="btn btn-primary">Search</button>
        </div>
        <a href="/blogs/new">
			<button type="button" class="btn btn-primary">Create New Blog</button>
		</a>
	</div>
</div>

<div id="blog-list-view">
  <% @blogs.each_with_index do |blog, index| %>
    <%= render partial: "blog_row", locals: {blog: blog, index: index}%>
  <% end %>
</div>