<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js" rel="stylesheet">
<div class="blog-header-view bg-grey">
	<div class="blog-header">
		<h1>BLOGS</h1>
	</div>
</div>

<div class="blog-options">
	<div class="add-new-btn">
		<a href="/blogs/new">
			<button type="button" class="btn btn-primary">Create New Blog</button>
		</a>
	</div>

	<div class="blog-search-box">
       	<input id="blog-search-input" class="search-field" type="text" placeholder="Search blogs by title">
       	<span class="glyphicon glyphicon-search"></span>
    </div>
    <div id="blog-search-result" class="blog-search-result display-none"></div>
    
<!--     <div class="blog-filters">
    	Category:
    	<select>
		  <option>Mustard</option>
		  <option>Ketchup</option>
		  <option>Relish</option>
		</select>
		
		<div>
			Sub-Category:
	    	<select>
			  <option>Mustard</option>
			  <option>Ketchup</option>
			  <option>Relish</option>
			</select>
		</div>
    </div> -->
</div>

<div id="blog-list-view" class="blog-list-view">
  <%= render(:partial=>'blog_list', :locals=>{ :blog_list=> @blogs }) %>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js" type="text/javascript"></script>
<%= javascript_include_tag "custom_autocomplete" %>
<%= javascript_include_tag "blog_index" %>
