<div class="page-c-header bg-grey">
	<div class="blog-header">
		<span>BLOGS</span>
	</div>
</div>
<div class="align-page-content"></div>

<div class="page-content">
	<div class="blog-options">
		<div class="add-new-btn">
			<a href="/blogs/new">
				<button type="button" class="btn btn-primary">Create New Blog</button>
			</a>
		</div>

		<div class="blog-search-box">
	       	<input id="blog-search-input" class="search-field" type="text" placeholder="Search blogs by title">
	       	<span class="glyphicon glyphicon-search"></span>
	    </div>
	    <div id="blog-search-result" class="blog-search-result" style="display: none;"></div>
	</div>

	<div id="blog-list-view" class="blog-list-view">
	  <%= render(:partial=>'blog_list', :locals=>{ :blog_list=> @blogs }) %>
	</div>
</div>
<%= javascript_include_tag "custom_autocomplete" %>
<%= javascript_include_tag "blog_index" %>
