<div class="st-header">
	<div class="st-title">
		<span>Settings</span>
	</div>
</div>
<div class="horizontal-line"></div>
<div class="page-content">
	<div class="settings-feed-1">
		<div class="settings-add-options">
			<div class="st-add-blog-cat-box">
				
			</div>
			<div class="st-add-video-cat-box">
				
			</div>
		</div>
	</div>
</div>