<div class="sc-comment-block">
	<span class="sc-comment-author-thumbnail">
		<span class="sc-thumb-square">
			<img src="#" width="48" height="48">
		</span>
	</span>
	<div class="sc-comment-content">
		<div class="sc-comment-header">
			<a href="#"><%= comment.user.full_name %></a>
		</div>
		<div class="sc-comment-text">
			<%= comment.body %>
		</div>
	</div>
</div>