<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Share And Care</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>

	<div class="container">
		<h1 class="page-header">Share And Care <small>You share We care.</small></h1>
		<div class="row">
			<div class="col-xs-4">.col-sm-4</div>
			<div class="col-xs-4">.col-sm-4</div>
			<div class="col-xs-4">.col-sm-4</div>
		</div>
	</div>

	</body>
</html>
<!-- https://www.w3schools.com/bootstrap/bootstrap_panels.asp -->