body {
  color: #666;
  font: 400 13px/1.6 Arial,"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  word-wrap: break-word;
}
.pageholder {
	margin-top:60px;
}
.bg-light-blue {
	background-color: #247;
}
.left-right-20 {
	margin-right: 20px !important;
	margin-left: 20px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-top-40{
	margin-top: 40px;
}
.navbar-nav>li {
	margin-left: 30px;
}
.navbar-right {
  float: right!important;
  margin-right: 34px;
}
.left-half {
	float: left;
	width: 50%;
}
.right-half {
	float: right;
  position: absolute;
  right: 0px;
  width: 50%;
}
.bg-grey {
	background-color: #F0F8FF;
}
.white-color {
	color: #FFFFFF;
}
.right-side-margin-90 {
	float: right;
	margin-right: 90px;
}
.padding-10 {
	padding-top: 10px;
}
.padding-15 {
  padding: 15px;
}
.navbar-brand {
	color: white !important;
  font-size: 36px;
  font-family: courier;
}
.short-input {
	width: 178px;
	height: 39px;
}
.long-input {
	width: 358px;
	height: 39px;
}
.width-300 {
	width: 300px;
}
.container{
	width: 100%;
      padding-right: 0px;
    padding-left: 0px; 
}
.navbar {
  margin-bottom: 0;
}
.body-container {
      margin-top: 51px;
}
.page-c-header{
  box-shadow: 6px 6px 6px grey;
  position: fixed;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid;
}
.search-field{
	height: 40px;
	width: 260px;
}
.form-content {
  margin: 0 auto;
  width: 900px;
  border: solid;
  border-style: ridge;
  padding: 35px;
  background-color: whitesmoke;
  border-radius: 4px;
  padding-bottom: 10px;
}
.basic-form {
  /* border: solid; */
  /* border-style: ridge; */
  padding: 20px;
  /* border-radius: 4px; */
}
.form-title{
  text-align: left;
  margin-bottom: 33px;
  margin-top: 75px;
  margin-left: 195px;
  color: #5D6D7E;
  font-weight: bold;
  font-size: 39px;
}
.form-field {
	padding: 5px 5px 10px 5px;
}
.form-label {
  float: left;
  font-size: 16px;
  font-weight: normal;
  width: 32%;
  padding-left: 35px;
  color: black;
}
.form-input {
  height: 30px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.text-area {
  margin: 0px;
  width: 300px;
  height: 191px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.form-btns {
  margin-top: 25px !important;
  margin-left: 280px;
}
.btn-submit {
	margin-left: 32px;
  padding: 8px;
  width: 100px;
}
.sc-btn {
	padding: 8px;
  width: 100px;
}
.float_right {
	float: right;
}
.left-span {
	float: left;
  width: 50%;
  text-align: right;
  padding-right: 20px;
  margin-bottom: 5px;
}
.right-span {
  float: right;
  width: 50%;
  padding-left: 20px;
  margin-bottom: 5px;
}
.page-header-block {
	min-height: 20px;
	margin-top: 40px;
	padding: 10px;
	overflow: auto;
}
.page-detail-block {
	min-height: 40px;
	margin-top: 20px;
	padding: 10px;
	background-color: #e4e6f0;
}
.width_35_p {
	width: 35% !important;
}
.large-font {
	font-size: 66px !important;
}
.overflow_auto {
	overflow: auto;
}
.color_light_pink {
	background-color: #C0C1C8;
}
.div_center {
	width: 50%;
	margin: 0px auto;
}
.min-height380 {
	min-height: 380px !important;
}
.min-height180 {
	min-height: 180px !important
}
.moreellipses {
	color: blue;
}
.display-none {
  display: none;
}
.bg_cadetblue {
  background-color: #D7F7EE;
}
.msg_notice {
  padding: 15px;
  text-align: center;
  background-color: #4eec5e;
  margin: 10px;
}
.horizontal-line {
  border-bottom: 1px solid grey;
}
.margin-bottom-35 {
  margin-bottom: 35px !important;
}
.height-100 {
  height: 100px !important;
}
.width-150 {
  width: 150px !important;
}
.margin-top-25 {
  margin-top: 25px;
}
.tag-item-box {
  display: inline-block;
  padding: 5px;
  background-color: darkgrey;
  margin-bottom: 5px;
  margin-right: 5px;
}
.tag-item {
  display: inline-block;
}
.tag-item-delete-icon {
  display: inline-block;
  padding: 0px 5px 0px 5px;
  color: white;
  cursor: pointer;
}