// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.st-header {
	padding: 20px 10px 0px 10px;
}
.st-title span {
	font-size: 40px;
}
.st-add-blog-cat-box, .st-add-video-cat-box {
	padding: 10px;
	font-size: 14px;
}
.sm-btn {
	padding: 4px 8px;
}
.st-add-cat-btn {
	margin-left: 15px;
	width: 12%;
	display: inline-block;
}
.st-add-cat-form {
	display: inline-block;
}