body {
  color: #666;
  font: 400 13px/1.6 Arial,"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  word-wrap: break-word;
}
.pageholder {
	margin-top:60px;
}
.bg-light-blue {
	background-color: #247;
}
.left-right-20 {
	margin-right: 20px !important;
	margin-left: 20px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-top-40{
	margin-top: 40px;
}
.navbar-nav>li {
	margin-left: 30px;
}
.navbar-right {
  float: right!important;
  margin-right: 34px;
}
.left-half {
	float: left;
	width: 50%;
}
.right-half {
	float: right;
  position: absolute;
  right: 0px;
  width: 50%;
}
.bg-grey {
	background-color: #F0F8FF;
}
.white-color {
	color: #FFFFFF;
}
.right-side-margin-90 {
	float: right;
	margin-right: 90px;
}
.padding-10 {
	padding-top: 10px;
}
.navbar-brand {
	color: white !important;
  font-size: 36px;
  font-family: courier;
}
.short-input {
	width: 178px;
	height: 39px;
}
.long-input {
	width: 358px;
	height: 39px;
}
.width-300 {
	width: 300px;
}
.container{
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
.blog-options{
  padding-bottom: 12px;
}
.blog-header-view{
	box-shadow: 10px 10px 5px grey;
  position: fixed;
  width: 100%;
}
.blog-list-view {
  margin-top: 186px;
}
.blog-header h1 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 48px;
}
.search-field{
	height: 40px;
	width: 260px;
}
.blog-search-box{
	display: inline;
	margin-right: 50px;
	margin-left: 180px;
}
.blog-options a{
	float: right;
  margin-right: 200px;
}
.page-content {
  margin: 0 auto;
  width: 900px;
  border: solid;
  border-style: ridge;
  padding: 35px;
  background-color: whitesmoke;
  border-radius: 4px;
}
.basic-form {
  /* border: solid; */
  /* border-style: ridge; */
  padding: 20px;
  /* border-radius: 4px; */
}
.form-title{
  text-align: left;
  margin-bottom: 33px;
  margin-top: 75px;
  margin-left: 195px;
  color: #5D6D7E;
  font-weight: bold;
  font-size: 39px;
}
.form-field {
	padding: 5px 5px 10px 5px;
}
.form-label {
  float: left;
  font-size: 20px;
  font-weight: normal;
  width: 32%;
  padding-left: 35px;
  color: black;
}
.form-input {
  height: 34px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.text-area {
  margin: 0px;
  width: 310px;
  height: 191px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.form-btns {
  margin-top: 60px;
  margin-left: 317px;
}
.btn-submit {
	margin-left: 32px;
  padding: 8px;
  width: 100px;
}
.sc-btn {
	padding: 8px;
  width: 100px;
}
.blog-row {
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: #C7D0F6;;
  margin: 5px;
  display: inline-block;
  width: 49%;
  cursor: pointer;
  max-height: 600px;
  min-height: 400px;
  margin-bottom: 15px;
}
.blog-title {
	color: black;
	font-size: 27px;
	border-bottom: 1px solid #000;
	margin-bottom: 15px !important;
}
.float_right {
	float: right;
}
.blog-title h4 {
	text-align: center;
  font-size: 30px;
}
.left-span {
	float: left;
  width: 45%;
  text-align: right;
  padding-right: 20px;
  margin-bottom: 5px;
}
.right-span {
  float: right;
  width: 50%;
  padding-left: 20px;
  margin-bottom: 5px;
}
.blog-icon {
	width: 60%;
	margin: 0 auto 20px auto;
	height: 170px
}
.blog-metadata {
  height: 110px;
}
.blog-description {
  float: left;
  margin-top: 10px;
}
.page-header-block {
	min-height: 20px;
	margin-top: 40px;
	padding: 10px;
	overflow: auto;
}
.page-detail-block {
	min-height: 40px;
	margin-top: 20px;
	padding: 10px;
	background-color: #e4e6f0;
}
.width_35_p {
	width: 35% !important;
}
.blog-sm-header {
	width: 65% !important;
	padding-right: 224px;
}
.large-font {
	font-size: 66px !important;
}
.overflow_auto {
	overflow: auto;
}
.color_light_pink {
	background-color: #C0C1C8;
}
.blog-categories {
	overflow: auto;
}
.blog-date-details {
	overflow: auto;
}
.blog_meta_color {
	background-color: #8e97b5;
}
.div_center {
	width: 50%;
	margin: 0px auto;
}
.actions {
	float: right;
margin-top: 12px;
}
.min-height380 {
	min-height: 380px !important;
}
.min-height180 {
	min-height: 180px !important
}
.moreellipses {
	color: blue;
}
#blog-description-block .mce-tinymce.mce-container {
	margin-left: 250px;
}