body {
    color: #666;
    font: 400 13px/1.6 Arial,"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    word-wrap: break-word;
}
.pageholder {
	margin-top:60px;
}
.bg-light-blue {
	background-color: #247;
}
.left-right-20 {
	margin-right: 20px !important;
  	margin-left: 20px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-top-40{
	margin-top: 40px;
}
.navbar-nav>li {
	margin-left: 30px;
}
.navbar-right {
  float: right!important;
  margin-right: 34px;
}
.right-half {
	float: right;
    position: absolute;
    right: 0px;
    width: 50%;
}
.bg-grey {
	background-color: #d8d4d2;
}
.white-color {
	color: #FFFFFF;
}
.right-side-margin-90 {
	float: right;
	margin-right: 90px;
}
.padding-10 {
	padding-top: 10px;
}
.navbar-brand {
	color: white !important;
    font-size: 36px;
    font-family: courier;
}
.short-input {
	width: 178px;
	height: 39px;
}
.long-input {
	width: 358px;
	height: 39px;
}
.width-300 {
	width: 300px;
}
.blog-header{
	height: 200px;
}
.blog-header img{
	max-height: 100%;
	width: 100%;
}
.container{
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
.blog-options{
	padding: 12px;
	margin-top: 3px;
}
.blog-header-view{
	box-shadow: 10px 10px 5px grey;
}
.search-field{
	height: 40px;
	width: 260px;
}
.blog-search-box{
	display: inline;
	margin-right: 50px;
	margin-left: 180px;
}
.blog-options a{
	float: right;
margin-right: 200px;
}