// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mytube-header {
  padding: 0px 15px 15px 15px;
}
.mytube-header .logo {
	display: inline;
	margin-left: 50px;
	font-size: 30px;
	padding: 6px;
	background-color: maroon;
	cursor: pointer;
	color: aliceblue;
  border-radius: 7px;
}
.mytube-header .glyphicon-search {
	margin-left: -30px;
}
.mytube-search {
	display: inline;
	width: 30%;
	margin-left: 120px;
}

.mytube-actions {
	display: inline;
	margin-left: 225px;
	cursor: pointer;
}
.video_block {
	width: 25%;
	padding: 10px;
	cursor: pointer;
}
.video-title {
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
}
.video-play-box p {
	padding: 10px;
	line-height: 35px;
	font-size: 50px
}
.mt-content {
  margin-top: 115px;
}
.mt-shelf-grid-item {
  display: inline-block;
  margin-bottom: 12px;
  margin-right: 10px;
  width: 196px;
}
.mt-feed-section-list {
  margin-left: 10px;
}
.mt-feed-section {
  padding: 15px;
  border-bottom: 1px solid #e2e2e2;
}
.mt-section-title-table {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
  padding-bottom: 10px;
}
.mt-section-title-row {
  display: table-row;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
}
.mt-section-title-text {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
}
.mt-shelf-content {
  margin: 0px;
  padding: 0px;
}
.mt-lockup-video {
  color: #767676;
  line-height: 1.3em;
  position: relative;
  cursor: pointer;
}
.mt-lockup-thumbnail {
  margin-bottom: 4px;
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.mt-lockup-content {
  overflow: hidden;
  position: relative;
}
.mt-lockup-title {
  margin-right: 20px;
  font-size: 13px;
  margin-bottom: 1px;
  max-width: 196px;
  color: #167ac6;
  font-weight: bold;
}
.mt-lockup-meta {
  
}
.mt-add-tag-btn {
  margin-left: -3px;
  margin-top: -4px;
}
.mt-upload-prompt-box {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 302px;
  background-color: #d5d5db;
  cursor: pointer;
}
.mt-start-upload-button {
  height: 64%;
  width: 85%;
  padding: 10px 0 10px 0;
}
.mt-start-upload-content {
  height: 35%;
  width: 44%;
  padding: 25px 0 10px 0;
}
.mt-upload-file-input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('upload_video-icon.png') center center no-repeat #e4e4e4;
  border-radius: 20px;
  background-size: 150px 100px;
  padding: 105px 0 0 0;
  margin-top: 13px;
}
.mt-start-upload-title {
  font-size: 22px;
}
.mt-upload-widget {
  padding: 15px;
  background-color: #E9E9F1;
}
.mytube-search-result {
  width: 29%;
  margin-left: 24%; 
  min-height: 30px;
  max-height: 170px;
  z-index: 1035;
  background-color: white;
  margin-top: -16px;
  border: 1px solid;
  border-top: 0px;
}
.video-search-row {
  cursor: pointer;
}
.tag-container {
  width: 38%;
  padding: 5px;
  height: 60px;
  overflow: auto;
  margin-left: 245px;
  background-color: white;
}
.progress {
  margin-bottom: 0px;
  border: solid 1px gray;
}
.mt-video-details-left-part {
  float: left;
  width: 30%;
  padding-right: 5px;
}
.mt-video-details-right-part {
  float: right;
  width: 70%;
  padding-left: 5px;
}
#mt-upload-progress-text {
  padding: 2px;
  color: black;
  margin-bottom: 14px;
}
.form-label {
  width: 26%;
}
.mt-video-thumbnail {
  height: 110px;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
}
.mt-video-details-block {
  overflow: auto;
}
#mt-upload-progress-block {
  padding-top: 40px;
  display: inline-block;
  width: 80%;
}
.action_btns {
  display: inline-block;
  float: right;
  width: 20%;
  padding-top: 34px;
}
.action_btns a {
  padding: 5px;
}
.mt-upload-submit {
  margin-left: 20px;
}
.mt-video-status {
  margin-top: 20px;
}
.mt-video-thumbnail img {
  width: 240px;
  height: 107px;
  padding: 2px;
}
.mt-player-screen {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.player-width {
  width: 65%;
}
.player-height {
  height: 470px;
}
#mt-watch-content {
  width: 65%;
  float: left;
  margin-left: 10px;
}
.mt-watch-header {
  padding: 15px;
  min-height: 115px;
  margin: 0 0 10px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-sizing: border-box;
}
#player video {
  width: 100%;
}
.mt-watch-title-container {
  margin: 0;
  line-height: normal;
  word-wrap: break-word;
  width: 75%;
  font-size: 26px;
  font-weight: normal;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: sans-serif;
  color: black;
}
#mt-watch-user-header {
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow: hidden;
}
#mt-watch-actions {
  position: relative;
  padding-top: 5px;
  border-top: 1px solid #e2e2e2;
}
#mt-watch-secondary-actions {
  position: relative;
  left: -10px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}
#mt-watch-sentiment-actions {
  float: right;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
}
#mt-watch-views-info {
  position: absolute;
  right: 0;
  bottom: 25px;
  min-width: 160px;
}
.mt-watch-view-count {
  line-height: 24px;
  max-height: 24px;
  text-align: right;
  font-size: 19px;
  color: #666;
  white-space: nowrap;
  margin-bottom: 2px;
}
.sentiment-button {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 7px;
  height: 28px;
  font-weight: 500;
  font-size: 11px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;
}
.sentiment-button span {
      margin-left: 6px;
}
.mt-watch-description-details {
  padding: 15px;
    margin: 0 0 10px;
    border: 0;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-sizing: border-box;
}