<nav class="navbar navbar-inverse bg-light-blue navbar-fixed-top">
	<div class="container-fluid padding-10">
			<div class="navbar-header left-right-20">
      	<a class="navbar-brand" href="/home"><b>ShareAndCare</b></a>
    </div>
    <% if user_signed_in? %>
	    <ul class="nav navbar-nav" id="nav-menu-bar">
	      <li id="home-tabspace"><a href="/home">Home</a></li>
	      <li id="blogs-tabspace"><a href="/blogs">Blog</a></li>
	      <li id="videos-tabspace"><a href="/videos">Videos</a></li>
	      <li id="photos-tabspace"><a href="#">Photos</a></li>
	      <li id="free-tabspace"><a href="#">Feel Free</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li class="dropdown">
	    		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	    			<span class="glyphicon glyphicon-th-list"></span>
	    		</a>
	    		<ul class="dropdown-menu">
	          <li><a href="#">Profile</a></li>
	          <li><a data-method="delete" href="/users/sign_out" rel="nofollow">Log Out</a></li>
        	</ul>
	    	</li>
	    </ul>
	  <% else %>
	    <ul class="nav navbar-nav navbar-right">
	    	<%= render 'layouts/login_form'%>
	    </ul>
	  <% end %>
	</div>
</nav>

<script type="text/javascript">
	var active_page = "<%= @active_page %>";
</script>
<%= javascript_include_tag('header') %>